<div class="article_header">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':'ALL'== articleLabel}" ng-click="changeTag('ALL')"><a>全部</a></li>
        <li role="presentation" ng-class="{active:'QUESTION' == articleLabel}" ng-click="changeTag('QUESTION')"><a>问答</a></li>
        <li role="presentation" ng-class="{active: 'SHARE' == articleLabel}" ng-click="changeTag('SHARE')"><a>分享</a></li>
        <li role="presentation" ng-class="{active:'PERFECT' == articleLabel}" ng-click="changeTag('PERFECT')"><a>精华</a></li>
    </ul>
</div>

<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>
<div class="article_container">
    <div class="article_content">
        <div class="article_answer">
            <span>0</span>
            <span>回答</span>
        </div>
        <div class="article_browse">
            <span>0</span>
            <span>浏览</span>
        </div>
        <div class="article_person">
            <span>xxxx</span>
            <span>ssss</span>
            <span>前提问</span>
        </div>
        <div class="article_title">
            <span>这是一个测试的题目,我也不知道该说什么好，但他就是一个测试题目</span>
            <a>全部</a>
        </div>
    </div>
</div>

