@charset "UTF-8";
/* 引入casils通用模块 */
/* 尺寸 */
/* px / rem */
/* 前缀 */
/* 定位 */
/* 三角形 */
/* 单行文本溢出显示省略号） */
/* 多行文本溢出显示省略号，参数（行数） */
.container {
  margin-left: 100px; }

.container {
  width: 530px; }

.container {
  width: 750px; }

.container {
  width: 850px; }

.login {
  position: relative;
  text-align: center; }

.navbar-blue {
  background-color: #00201c;
  border-color: #00201c; }
  .navbar-blue .navbar-brand {
    color: #ecf0f1; }
    .navbar-blue .navbar-brand:hover, .navbar-blue .navbar-brand:focus {
      color: #10acc2; }
  .navbar-blue .navbar-text {
    color: #ecf0f1; }
  .navbar-blue .navbar-nav > li > a {
    color: #ecf0f1; }
    .navbar-blue .navbar-nav > li > a:hover, .navbar-blue .navbar-nav > li > a:focus {
      color: #10acc2;
      background-color: #00201c; }
  .navbar-blue .navbar-nav > .active > a, .navbar-blue .navbar-nav > .active > a:hover, .navbar-blue .navbar-nav > .active > a:focus {
    color: #10acc2;
    background-color: #00201c; }
  .navbar-blue .navbar-nav > .open > a, .navbar-blue .navbar-nav > .open > a:hover, .navbar-blue .navbar-nav > .open > a:focus {
    color: #10acc2;
    background-color: #00201c; }
  .navbar-blue .navbar-toggle {
    border-color: #00201c; }
    .navbar-blue .navbar-toggle:hover, .navbar-blue .navbar-toggle:focus {
      background-color: #00201c; }
    .navbar-blue .navbar-toggle .icon-bar {
      background-color: #ecf0f1; }
  .navbar-blue .navbar-collapse,
  .navbar-blue .navbar-form {
    border-color: #ecf0f1; }
  .navbar-blue .navbar-link {
    color: #ecf0f1; }
    .navbar-blue .navbar-link:hover {
      color: #10acc2; }

@media (max-width: 767px) {
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1; }
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #10acc2; }
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a, .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #10acc2;
    background-color: #00201c; } }
.article_header {
  position: relative;
  margin: 0 auto; }
  .article_header a {
    color: #10acc2; }

.article_container {
  position: relative;
  background: #fff; }
  .article_container .article_content {
    padding: 18px 20px 0 90px;
    border-bottom: 1px solid #E4E4E6;
    width: 100%;
    height: 80px; }
    .article_container .article_content .article_answer {
      top: 15px;
      left: 8px;
      position: absolute;
      width: 50px;
      height: 50px;
      background: #10acc2; }
      .article_container .article_content .article_answer > span {
        padding-top: 4px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        display: block; }
    .article_container .article_content .article_browse {
      top: 15px;
      left: 80px;
      position: absolute;
      width: 50px;
      height: 50px; }
      .article_container .article_content .article_browse > span {
        padding-top: 4px;
        text-align: center;
        font-size: 14px;
        color: #d0d0d0;
        display: block; }
    .article_container .article_content .article_person {
      top: 15px;
      left: 150px;
      position: absolute; }
      .article_container .article_content .article_person > span {
        padding-top: 4px;
        text-align: center;
        font-size: 14px;
        color: #d0d0d0; }
    .article_container .article_content .article_title {
      top: 15px;
      left: 150px;
      position: absolute;
      margin-top: 30px; }
      .article_container .article_content .article_title > span {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #00201c; }
      .article_container .article_content .article_title > a {
        padding: 3px;
        text-align: center;
        font-size: 10px;
        background-color: #10acc2;
        color: #fff; }

/*# sourceMappingURL=main.css.map */
