@charset "utf-8"

.article_header
  position: relative
  margin: 0 auto
  a
    color: $colHighlight

.article_container
  position: relative
  background: #fff
  .article_content
    padding: 18px 20px 0 90px
    border-bottom: 1px solid $split-grey
    @include size(percentage(1),80)
    .article_answer
      @include position(absolute,top 15 left 8)
      @include size(50)
      background: $colHighlight
      >span
        padding-top: 4px
        text-align: center
        font-size: 14px
        color: #fff
        display: block
    .article_browse
      @include position(absolute,top 15 left 80)
      @include size(50)
      >span
        padding-top: 4px
        text-align: center
        font-size: 14px
        color: $secondary-grey
        display: block
    .article_person
      @include position(absolute,top 15 left 150)
      >span
        padding-top: 4px
        text-align: center
        font-size: 14px
        color: $secondary-grey
    .article_title
      @include position(absolute,top 15 left 150)
      margin-top: 30px
      >span
        text-align: center
        font-size: 18px
        font-weight: 500
        color: $bgDefault
      >a
        padding: 3px
        text-align: center
        font-size: 10px
        background-color: $colHighlight
        color: #fff